<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	<h1>
		Contact Page
	</h1>

	<form action="/submit" method="POST">
		<label for="fname">First name:</label><br>
		<input type="text" id="fname" name="fname" value="John"><br>
		<label for="lname">Last name:</label><br>
		<input type="text" id="lname" name="lname" value="Doe"><br><br>
		<label for="id">Id #:</label><br>
		<input type="text" id="id" name="id" value="0"><br><br>
		<input type="submit" value="Submit">
	</form> 
</body>
</html>